@model BigSchool.ViewModels.FollowingViewModel
@{ ViewBag.Title = "Following"; }

<h2>Following</h2>
<div class="row">
    <ul class="course">
        @foreach (var follow in Model.Followings)
        {
        <li>
            <div class="details">
                <span class="lecturer">
                    @follow.name

                </span>
            </div>
    
         </li>}
    </ul>
</div>